body {
    font-family: "Nerko One", sans-serif;
    margin: 0;
    padding: 0;
}
input[type="submit"] {
    font-family: "Nerko One", sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
#header {
    width: 100%;
    height: 100px;
    background-color: white;
    text-align: center;
    padding-top: 9px; /* Adjusted padding */
    position: relative;
}

#header img {
    position: absolute;
    left: 20px;
    height: 80px; /* Adjusted height */
    width: auto; /* Keep aspect ratio */
}

#header h1 {
    margin: 0;
    padding: 0;
    font-size: 4rem; /* Adjusted font size */
    line-height: 100px; /* Adjusted line height */
    display: inline-block;
}

/* Cart icon */
.cart-icon {
    position: absolute;
    right: 20px;
    top: 130%;
    transform: translateY(-50%);
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.cart-icon:hover {
    color: #333;
}

.cart-icon span {
    font-size: 18px;
    margin-left: 10px;
    vertical-align: middle;
}

/* Menu */
.menu-wrapper {
    text-align: left;
    margin: 20px 0;
}

.menu-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.menu-content {
    display: none;
    margin-top: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.menu-content a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}

.menu-content a:hover {
    background-color: #ddd;
}

/* Body */
#Body {
    width: auto;
    background-color: white;
    color: black;
    border: 2px solid black;
    overflow-y: scroll;
    padding: 170px;
    padding-top: 5%;
}

.block {
    border: 1px solid black;
    float: left;
    margin: 20px;
    width: 250px;
    height: 300px;
    padding-bottom: 90px;
    text-align: center;
}

.block img {
    width: 240px;
    height: 260px; /* Adjusted height */
    padding: 5px;
}

.block input {
    width: 80px;
    margin-right: 10px;
    margin-left: 30px ;
    font-size: small;
    font-weight: normal;
}

.block  :hover {
    background-color: gray ;
    color: #e8f1f1;
}

/* Footer */
#Footer {
    width: 100%;
    height: 70px;
    background-color: rgb(52, 51, 51);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.copyright {
    padding-left: 10px;
}

.foot {
    display: flex;
    align-items: center;
}

.foot ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.foot ul li {
    margin-right: 15px;
}

.foot ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.foot ul li a:hover {
    color: #ddd;
}
